.article
	padding-top: 5em

	&__title
		@extend %max-site-width
		padding: 0 $v-padding
		margin: 0.6em 0
		font-size: 3.5rem
		color: $brand-dark

		@include breakpoint(small)
			font-size: 3.75rem

		@include breakpoint(large)
			margin: auto
			padding: $body-padding

	&__section
		@extend %body-padding
		display: flex
		flex-wrap: wrap
		position: relative
		width: 100%
		padding-top: 2em
		padding-bottom: 1.25em
		min-height: 25rem
		overflow: hidden
		color: $mid-grey
		background-color: $dim-grey
		clip-path: polygon(0 2%, 100% 0, 100% 95%, 0% 98%)

	&__heading
		font-weight: 600
		font-size: 3rem
		line-height: 3rem
		margin: 0
		color: $brand-dark

		@include breakpoint(small)
			font-size: 4.2rem
			line-height: 5rem
			color: lighten($mid-grey, 60%)

		&--grey

			@include breakpoint(small)
				color: $mid-grey
				padding-top: 3.125em

			@include breakpoint(medium)
				margin-top: 5.3125em

	&__subheading
		font-weight: bold
		font-size: 0.75rem
		line-height: 1rem
		text-transform: uppercase
		margin: 0
		color: $mid-grey

		@include breakpoint(small)
			font-size: 1rem
			margin-bottom: 0.625em
			word-wrap: break-word

	&__image
		width: 100%

	&__bullets
		opacity: 0
		list-style: none
		@extend %default-transition

		&--open
			opacity: 1

	&__text
		$default-size: 0.775rem
		$default-line-height: 1.25rem
		flex: 1 0 100%
		font-weight: 400
		line-height: $default-line-height
		font-size: $default-size
		margin-left: auto
		text-align: right

		@include breakpoint(regular)
			font-size: 0.85rem
			line-height: 2

		@include breakpoint(large)
			font-size: $default-size
			line-height: $default-line-height

	&__buttons
		display: flex
		align-items: baseline
		position: absolute
		bottom: 2.4rem
		gap: 1em

		@include breakpoint(small)
			right: 1.4em
			bottom: 3.4em

	&__button
		background: $brand-yellow
		box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.25)
		border: none
		position: relative
		left: 0
		z-index: 2
		height: 2.2em
		text-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25)
		font-weight: bold
		font-size: 1.25rem
		line-height: 1.9rem
		letter-spacing: 0.01em
		text-transform: uppercase
		cursor: pointer
		@extend %default-transition
		@include skew()

		&:hover
			background: $brand-dark
			color: $brand-yellow

		&:first-child
			bottom: -0.33em

		&--light
			background-color: $dim-grey
			width: 142px

			&:hover
				background: $white
				color: $brand-dark
