.article
	padding-top: 5em

	@include breakpoint(large)
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
		grid-gap: 2em

	&__title
		@extend .wrapper
		grid-column: -1 / 1
		margin: 0.6em 0
		font-size: 3.5rem
		background: $white
		color: $brand-dark

		@include breakpoint(small)
			font-size: 3.75rem

	&__section
		@extend %body-padding
		position: relative
		width: 100%
		padding-top: 2em
		padding-bottom: 1.25em
		margin-bottom: 2.5em
		min-height: 25rem
		overflow: hidden
		color: $mid-grey
		background-color: $dim-grey
		box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25)
		clip-path: polygon(0 2%, 100% 0, 100% 95%, 0% 98%)

		&:nth-of-type(2n)
			clip-path: polygon(0 0, 100% 2%, 100% 98%, 0% 95%)
		//	& .article__image
		//		transform: scaleX(-1) translateX(50%)
		//
		//	& .article__button
		//		position: absolute
		//		right: 1.875em
		//		top: 82%
		//
		//	& .article__heading
		//		@include breakpoint(small)
		//			font-size: 6rem
		//			margin-bottom: 2.5em

	&__heading
		font-weight: 600
		font-size: 3rem
		line-height: 3rem
		margin: 0
		color: $brand-dark

		@include breakpoint(small)
			font-size: 4.2rem
			line-height: 5rem
			color: lighten($mid-grey, 60%)

		&--last
			font-size: 3.125rem
			line-height: 0.95

		&--small
			font-size: 1.5rem
			line-height: 1.75rem
			margin-top: 2em

			@include breakpoint(small)
				color: $mid-grey
				padding-top: 3.125em

			@include breakpoint(medium)
				margin-top: 5.3125em

	&__subheading
		font-weight: bold
		font-size: 0.75rem
		line-height: 1rem
		text-transform: uppercase
		margin: 0
		color: $mid-grey

		@include breakpoint(small)
			font-size: 1rem
			margin-bottom: 0.625em
			word-wrap: break-word

	&__image
		@extend %center-x
		width: 90vw

	&__bullets
		display: none

	&__text
		font-weight: 400
		font-size: 0.875rem
		line-height: 1.25rem
		opacity: 0.95

	&__button
		background: $brand-yellow
		box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.25)
		border: none
		position: relative
		bottom: 3.125em
		z-index: 2
		width: 5.3em
		height: 2.2em
		text-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25)
		font-weight: bold
		font-size: 1.25rem
		line-height: 1.9rem
		letter-spacing: 0.01em
		text-transform: uppercase
		cursor: pointer
		@extend %default-transition

		@include skew()

		&:hover
			background: $brand-dark
			color: $brand-yellow
