.footer
	@extend %body-padding
	padding-top: 20px
	padding-bottom: 20px

	background: $brand-dark
	color: #FFF

	&__legal
		margin: 0

		font-size: 12px
		line-height: 1
		letter-spacing: 0.2px

	&__developer
		margin: 0

		font-size: 10px
		text-align: right
