// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// ----------------------------------------------------------------------------.

.header
	display: flex
	background: $brand-dark
	justify-content: space-between
	align-items: center
	height: $header-height
	padding: $body-padding
