# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Scripts and assets
[*.{html,css,js}]
indent_style = tab
tab_width = 4
charset = utf-8

#[*.sass]
#indent_style = tab
#indent_size = 4

# Configuration
[{package*.json, .*rc}]
indent_style = tab
tab_width = 2

[*.html]
insert_final_newline = true
trim_trailing_whitespace = false
