<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blog</title>
	</head>

	<body>
		<header class="header">
			<a href="/" class="logo">Bike<span class="logo--em">City</span></a>
			<div id="menu" class="menu header__menu">
				<span class="menu__line"></span>
			</div>
			<nav class="nav header__nav">
				<div class="nav__wrapper">
					<a class="nav__link" href="/en/index.html">Home</a>
					<a class="nav__link" href="#shop">Shop</a>
					<a class="nav__link" href="./en/blog.html">Blog</a>
					<a class="nav__link" href="#about">About</a>
					<a class="nav__link" href="#contact">Contact</a>
					<button id="locales-button" class="locales-toggle nav__link">Language</button>
					<div class="locales">
						<div class="locales__wrapper">
							<span class="locale locale--active">EN</span>
							<a href="/sr" class="locale">SR</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
	</body>

</html>
