<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bike City - Find your dream ride</title>
	</head>

	<body>
		<header class="header">
			<a href="/" class="logo">Bike<span class="logo--em">City</span></a>
			<div id="menu" class="menu header__menu">
				<span class="menu__line"></span>
			</div>
			<nav class="nav header__nav">
				<div class="nav__wrapper">
					<a class="nav__link" href="/">Home</a>
					<a class="nav__link" href="#shop">Shop</a>
					<a class="nav__link" href="/blog">Blog</a>
					<a class="nav__link" href="#about">About</a>
					<a class="nav__link" href="#contact">Contact</a>
					<button id="locales-button" class="locales-toggle nav__link">Language</button>
					<div class="locales">
						<div class="locales__wrapper">
							<span class="locale locale--active">EN</span>
							<a href="/sr" class="locale">SR</a>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<article class="hero">
			<h1 class="hero__title">Easy way to find your dream ride.</h1>
			<div class="hero__clip-path">
				<a href="#shop" id="explore" class="hero__explore link link--dark">explore</a>
			</div>
		</article>

		<article id="shop" class="article shop">
			<h2 class="article__title">Shop</h2>

			<section class="article__section">
				<div>
					<h3 class="article__heading">Trail</h3>
					<h4 class="article__subheading">Santa Cruz</h4>
				</div>
				<ul class="article__text">
					<li>Suspension Travel <strong>120 - 140mm</strong></li>
					<li>Head-Tube Angle <strong>67 - 69&deg;</strong></li>
				</ul>

				<div class="image-wrapper">
					<img class="image article__image" src=<%=require('/src/assets/images/shop-bike-1.png').default %> alt="Trail Bike by Santa Cruz">
				</div>

				<button class="article__button">Order</button>
			</section>

			<section class="article__section">
				<div>
					<h3 class="article__heading">Trail</h3>
					<h4 class="article__subheading">Santa Cruz</h4>
				</div>
				<ul class="article__text">
					<li>Suspension Travel <strong>120 - 140mm</strong></li>
					<li>Head-Tube Angle <strong>67 - 69&deg;</strong></li>
				</ul>

				<div class="image-wrapper">
					<img class="image article__image" src=<%=require('/src/assets/images/shop-bike-1.png').default %> alt="Trail Bike by Santa Cruz">
				</div>

				<button class="article__button">Order</button>
			</section>


			<section class="article__section">
				<div>
					<h3 class="article__heading">Trail</h3>
					<h4 class="article__subheading">Santa Cruz</h4>
				</div>
				<ul class="article__text">
					<li>Suspension Travel <strong>120 - 140mm</strong></li>
					<li>Head-Tube Angle <strong>67 - 69&deg;</strong></li>
				</ul>

				<div class="image-wrapper">
					<img class="image article__image" src=<%=require('/src/assets/images/shop-bike-1.png').default %> alt="Trail Bike by Santa Cruz">
				</div>

				<button class="article__button">Order</button>
			</section>


			<section class="article__section">
				<div>
					<h3 class="article__heading">Trail</h3>
					<h4 class="article__subheading">Santa Cruz</h4>
				</div>
				<ul class="article__text">
					<li>Suspension Travel <strong>120 - 140mm</strong></li>
					<li>Head-Tube Angle <strong>67 - 69&deg;</strong></li>
				</ul>

				<div class="image-wrapper">
					<img class="image article__image" src=<%=require('/src/assets/images/shop-bike-1.png').default %> alt="Trail Bike by Santa Cruz">
				</div>

				<button class="article__button">Order</button>
			</section>



		</article>

		<article id="about" class="article about">
			<h2 class="article__title">About</h2>
		</article>

		<article id="contact" class="article contact">
			<h2 class="article__title">Contact</h2>
		</article>
		<footer class="footer">
			<div class="footer__legal">
				<a href="/" class="logo logo--small">Bike<span class="logo--em">City</span></a>
				<p>
					&copy;
					<script>document.write(new Date().getFullYear())</script> All rights reserved.
				</p>
			</div>
			<p class="footer__developer">by <a href="https://github.com/markonikolas" class="link" target="blank" rel="noreferer">n1c01ash</a>
			</p>
		</footer>
	</body>

</html>
