<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BikeCity | Select Language</title>
	</head>

	<body>
		<main id='locale'>
			<form action="#">
				<label for="select-locale">
					<select name="select-locale" id="select-locale">
						<option value="sr">
							Srpski
						</option>
						<option value="en">
							English
						</option>
					</select>
					<input type="button" value="Submit">
				</label>
			</form>
		</main>
	</body>

</html>
