<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bike City - Find your dream ride</title>
	</head>

	<body>
		<header class="header">
			<a href="/" class="logo">Bike<span class="logo--em">Grad</span></a>
			<div class="menu header__menu">
				<span class="menu__line"></span>
			</div>
			<nav class="nav header__nav">
				<a href="/">Početna</a>
				<a href="#shop">Prodavnica</a>
				<a href="/blog">Blog</a>
				<a href="#about">O nama</a>
				<a href="#contact">Kontakt</a>
			</nav>
		</header>

		<article class="hero">
			<h1 class="hero__title">Najlakši način da pronadjete bicikl iz snova.
			</h1>
			<div class="hero__clip-path">
				<a href="#shop" class="hero__explore link link--dark">istraži</a>
			</div>

		</article>

		<article id="shop" class="article shop">
			<h2 class="article__title">Prodavnica</h2>
		</article>

		<article id="about" class="article about">
			<h2 class="article__title">O nama</h2>
		</article>

		<article id="contact" class="article contact">
			<h2 class="article__title">Kontakt</h2>
		</article>
		<footer class="footer">
			<p class="footer__legal">&copy;
				<script>document.write(new Date().getFullYear())</script>
				<span class="logo logo--small">Bike<span class="logo--em">Grad</span></span> / Sva prava zadržana.
			</p>
			<p class="footer__developer">Razvio <a href="https://github.com/markonikolas" class="link" target="blank" rel="noreferer">n1c01ash</a>
			</p>
		</footer>
	</body>

</html>
