.form
	display: flex
	flex-direction: column
	justify-content: space-between
	height: 25rem

	&__input
		padding-left: 1.5rem
		color: $mid-grey

	&__button
		background: $brand-yellow
		color: $mid-grey
		cursor: pointer

		&:hover
			background: $mid-grey
			color: $brand-yellow
			@extend %default-transition

	&__input, &__button
		height: 3.625rem
		border: none

	&__textarea
		height: 6.75rem
