.form
	display: flex
	flex-direction: column
	justify-content: space-between
	height: 390px

	&__input
		padding-left: 25px
		color: $mid-grey

	&__button
		background: $brand-yellow
		color: $mid-grey
		cursor: pointer

		&:hover
			background: $mid-grey
			color: $brand-yellow
			transition: 200ms all ease-in-out

	&__input, &__button
		height: 58px
		border: none

	&__textarea
		height: 108px
