.locale
	@extend .nav__link
	position: relative

	font-size: 2rem
	cursor: pointer

	&--active
		color: $brand-yellow

	&s
		display: flex
		position: relative
		height: 0
		width: 50%
		justify-content: space-between
		align-items: center

		overflow: hidden
		transition: height 500ms ease

		&--open
			height: 50px

	&s-toggle
		background: none
		border: none
		cursor: pointer
		position: relative
		z-index: 2
		padding-right: 50px

		&:not(&--active):hover::after
			border-right: 6px solid $brand-yellow
			border-bottom: 6px solid $brand-yellow
				
		&::after
			content: ''
			display: block
			position: absolute
			width: 20px
			height: 20px
			border-right: 6px solid #FFF
			border-bottom: 6px solid #FFF
			transform: rotate(45deg) translateY(-50%)
			transform-origin: top
			transition: all 500ms cubic-bezier(.68,-0.55,.27,1.55)
			right: 6px
			top: 50%

		&--active
			
			&::after
				transform: rotate(225deg) translateY(-60%)
				top: 60%

			&:hover
				color: #FFF

		&--down

			&::after
				top: 60%
				transform: rotate(135deg) translateY(-60%)
