.logo
	color: $white
	font-family: $logo-font-stack
	font-size: 2.25rem
	line-height: 1
	user-select: none

	+on-event
		color: $brand-yellow
		text-decoration: none
		outline: none

	&--em
		text-transform: uppercase
		color: $brand-yellow

	&--small
		font-size: 2.2rem

	&:hover
		text-decoration: none
		color: $white
