@use 'sass:math'

.menu
	display: flex
	flex-direction: column
	justify-content: space-between

	width: 40px
	height: 26px

	border-radius: 5px
	cursor: pointer

	&:focus,
	&:focus-within,
	&:focus-visible
		outline: 1px dotted $white

	&::before,
	&::after
		content: ''
		transition: all 550ms ease
		height: 5px
		background-color: $white

	&--open
		$rotation: -45deg
		$origin: right

		height: 32px

		&::before
			transform-origin: top $origin
			transform: rotate($rotation)

		&::after
			transform-origin: bottom $origin
			transform: rotate(-$rotation)
