@use 'sass:math'

.menu
	position: relative
	width: 40px
	height: 24px

	border-radius: 5px
	cursor: pointer

	&::before,
	&::after
		@extend %line
		transform-origin: left
		transition: all 550ms ease
		transform-origin: center
		
	&__line
		@extend %line

		top: 50%
		transform: translateY(-50%)
		transition: transform 250ms ease

	&::after
		bottom: 0

	&--open
		$rotation: 0.63turn
		$translate: 50%

		height: 40px

		.menu__line
			transform: rotateY(90deg)

		&::before
			top: $translate
			transform: rotate($rotation) translateY($translate)

		&::after
			transform: rotate(-$rotation) translateY(-$translate)
			bottom: $translate
