.nav
	position: absolute
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: space-between
	padding: 0 2em 
	height: 0
	width: 100%
	overflow: hidden
	left: 0
	bottom: 0
	top: $header-height
	background: $brand-dark
	z-index: 2
	transition: height 250ms ease

	&__link
		display: block
		
		font-weight: bold
		font-size: 40px

		letter-spacing: -0.02em

		color: #FFFFFF
		transition: all 500ms ease	

		&:hover
			color: $brand-yellow
			text-decoration: none

	&--open
		height: calc(100vh - #{$header-height})
		padding: 1.5rem 2em
