.nav
	display: none
	flex-direction: column
	justify-content: space-between
	align-items: flex-start
	padding: 60px 40px
	z-index: 2

	position: absolute
	width: 100%
	left: 0
	bottom: 0
	top: $header-height
	// background: linear-gradient(90deg, $brand-dark, rgba($brand-dark, 1)), url('/src/assets/images/hero-bike.png')
	background: $brand-dark

	a
		font-weight: bold
		font-size: 40px
		line-height: 1.618px

		text-align: center
		letter-spacing: -0.02em

		color: #FFFFFF
