// Dimensions
%body-padding
	padding: $body-padding

%max-site-width
	max-width: $site-width

// Transitions and animations
%default-transition
	transition: all 500ms ease

%fadein
	@keyframes fade
		0%
			opacity: 0
		100%
			opacity: 1

	animation: fade 300ms ease-in-out 1 forwards
