// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Font family
/// @type List
$text-font-stack: "Cabin", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$logo-font-stack: "Squada One", "Arial", sans-serif

/// Light grey
/// @type Color
$light-grey: #E5E5E5 

/// Brand grey
/// @type Color
$brand-dark: #1E1E1E

/// Brand Yellow
/// @type Color
$brand-yellow: #F3E24B

/// Container's maximum width
/// @type Length
$max-width: 1180px !default

/// Headers height
/// @type Length
$header-height: 72px

/// Main vertical padding
/// @type List
$body-padding: 0 40px

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ("small": 320px, "medium": 768px, "large": 1024px) !default

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: "/assets/" !default

$assets-url: '/src/assets'
