@font-face
	font-family: Cabin
	src: url('/src/assets/fonts/Cabin/Cabin-Regular.ttf')
	font-weight: 400

@font-face
	font-family: Cabin
	src: url('/src/assets/fonts/Cabin/Cabin-Bold.ttf')
	font-weight: 700

@font-face
	font-family: 'Squada One'
	src: url('/src/assets/fonts/Squada_One/SquadaOne-Regular.ttf')
	font-weight: 700
