
.about
	
	.article
		&__section
			height: unset

			&:first-of-type
				padding-bottom: 0
				margin-bottom: 0
				clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 98%)
				z-index: 2

			&:last-of-type
				padding-top: 60px
				padding-bottom: 40px
				background: $brand-yellow
				margin-top: -40px
				z-index: 1

		&__heading
			font-size: 32px !important
			margin-bottom: 20px
			margin-top: 0

			@include breakpoint(small)
				letter-spacing: -1px
			
		&__text
			font-size: 15px
			line-height: 1.618

		&__image
			width: 120vw
			clip-path: polygon(0 0%, 100% 6%, 100% 100%, 0% 98%)
			margin-top: 30px

			@include breakpoint(small)
				margin-top: -10px

	.image-wrapper
		height: 280px

		&::after
			display: none
