.blog

	.article

		&__section
			height: unset
			padding: 0 0 $h-padding * 2.5
			flex-direction: column


		&__image
			clip-path: polygon(0px 0%, 100.00% -0.17%, 100% 87%, 0% 98%)

		&__heading
			margin: 0.5em 0
			font-size: 2rem
			padding: 0 $v-padding

		&__text
			padding: 0 $v-padding
			text-align: left
			flex: 1

			@include breakpoint(small)
				font-size: 0.9rem
				line-height: 1.618
	.wrapper
		padding: 0
		display: grid
		gap: 2em

		@include breakpoint(regular)
			padding: $body-padding

		@include breakpoint(medium)
			grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
			margin: 0 auto
			max-width: $site-width

	.emphasis
		color: $brand-dark
		font-weight: bold
		font-size: 1rem
		text-decoration: underline
		margin: 0
		padding: 0.25em

	.image-wrapper
		width: 100%

		&::after
			display: none
