.blog

	.article
		&__section
			height: unset
			padding-bottom: 60px

		&__image
			width: 120vw
			clip-path: polygon(0 0%, 100% 6%, 100% 87%, 0% 98%) 
			margin-top: -25px

		&__heading
			margin-top: unset
			font-size: 32px

			@include breakpoint(375px)
				font-size: 42px !important
				margin-bottom: 30px

		&__text
			@include breakpoint(375px)
				font-size: 16px
				line-height: 1.618


	.emphasis
		color: $brand-dark
		font-weight: bold
		text-decoration: underline
		
	.image-wrapper
		height: 280px

		@include breakpoint(411px)
			margin-bottom: 50px

		&::after
			display: none
