.blog

	.article
		&__section
			height: unset
			padding: 0 0 $h-padding * 2.5

		&__image
			clip-path: polygon(0px 0%, 100.00% -0.17%, 100% 87%, 0% 98%)

		&__heading
			margin: 0.5em 0
			font-size: 2rem
			padding: 0 $v-padding

		&__text
			padding: 0 $v-padding
			text-align: left

			@include breakpoint(small)
				font-size: 1rem
				line-height: 1.618
	.wrapper
		padding: 0
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
		gap: 2em

		@include breakpoint(medium)
			margin: 0 auto
			padding: $body-padding
			max-width: $site-width

	.emphasis
		color: $brand-dark
		font-weight: bold
		text-decoration: underline
		
	.image-wrapper
		width: 100%

		&::after
			display: none
