.contact

	.emphasis
		color: $brand-dark
		text-shadow: 1px 4px 4px rgba($brand-dark, 0.3)
		text-decoration: underline

	.article
		&__section
			height: unset
			text-align: center
			padding-bottom: 60px

		&__heading
			font-size: 40px
			line-height: 1

		&__subheading
			text-transform: unset
			margin-top: 40px
			font-size: 23px
			font-weight: normal

		&__text
			margin-bottom: 40px

			@include breakpoint(small)
				font-size: 15px
