.contact

	.emphasis
		color: $brand-yellow
		text-shadow: 1px 4px 4px rgba($brand-dark, 0.3)
		text-decoration: underline

	.article
		&__section
			text-align: center

		&__heading
			font-size: 40px
			line-height: 1

		&__subheading
			text-transform: unset
			margin-top: 40px
			font-size: 23px
			font-weight: normal
